<!DOCTYPE html>
	<html>
		<head>
			<script type="text/javascript">
			    var host = "blog.soulawaker.me";
			    if ((host == window.location.host) && (window.location.protocol != "https:"))
				window.location.protocol = "https";
			</script>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css"/>
			<link rel="canonical" href="{{ site.url }}{{ page.url }}"/>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:soulawaker@gmail.com">email</a></li>
	        		<li><a href="https://github.com/soulawaker">github.com/soulawaker</a></li>
				</ul>
			</footer>
		</body>
	</html>
